@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body{
    font-family: 'MICEGothic Bold';
    font-size: 25px;
    color: white;
    background-image: url(background_moon.jpg);
    width: 1270px;
    height: 500px;
    background-repeat : no-repeat;
    background-size : cover;
}
.title {
    
    width: 280px;
    height: 200px;
    position: relative;
    top: 270px;
    margin: 0px 530px;
}

.input{
    width: 200px;
    height: 30px;
    position: relative;
    top: 130px;
    margin: 0px 540px;
    outline: none;
    background-color: white;
    border-radius: 15px;
}

.button{
    outline: none;
    background-color: rgb(27, 27, 90);
    color: white;
    position: relative;
    top: 150px;
    margin: 0px 620px;
    border-radius: 15px;
}
